:root{
    --heindall_maincolor: #ffd700;
    --heindall_subcolor: #daa520;
    --heindall_darkcolor: #5c4033;
    --heindall_cleancolor: #f5f5dc;
    --background: #222222;

    --bifrost_maincolor: #361ae6;
    --bifrost_subcolor: #6846ec;
    --bifrost_midcolor: #9a73f3;
    --bifrost_cleancolor: #ffccff;
}