.container_products{
    width: 100%;
    height: 700px;    
    background-color: var(--heindall_cleancolor);
}

.container_t{
    text-align: center;
}

.title_products{
    top: 40px;       
    display: inline-block;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: bold;
    transition: all 1s ease;    
    border-bottom: 2px solid var(--heindall_subcolor);
    color: var(--heindall_subcolor);
    position: relative;  
}

.products_wrapper {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.product_card {
    border: 8px solid black;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
}

.product_title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.BT{     
    display: inline-block;
    transition: all 1s ease;    
    border-bottom: 2px solid var(--bifrost_midcolor);
    position: relative;  
}

.PH{
    display: inline-block;
    transition: all 1s ease;    
    border-bottom: 2px solid var(--heindall_maincolor);
    position: relative;  
}

.product_logo {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    transition: transform 0.3s ease; 
    border-radius: 20px;
}

.product_logo:hover {
    transform: scale(0.9); 
}

.product_img{
    width: 100%;
    height: 300px;    
    object-fit: contain;
}

.product_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px);   
    -webkit-backdrop-filter: blur(10px);  
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.product_modal_content {
    max-width: 600px;
    padding: 40px;
    background-color: var(--heindall_cleancolor);
    border-radius: 20px;
    box-shadow: 0 0 10px var(--heindall_darkcolor);
    text-align: center;
    position: relative;
}

.close_modal {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}